

body.nightmode {
    background-color: black;
    color: white;
}

.nightmode .well {
    background-color: #181818;
    color: #D0D0D0;
    border-color: #3277b3;
}

.nightmode .nav-tabs > li.active > a,
.nightmode .nav-tabs > li.active > a:focus,
.nightmode .nav-tabs > li.active > a:hover {
    background: black;
    color: #D0D0D0;
}
.nightmode .nav-tabs > li > a:hover {
    background: black;
    color: #88b5dd;
}
.nightmode .nav-tabs > li.active > a:hover {
    background: #181818;
    color: #F0F0F0;
}

.nightmode div#hcl-export code {
    background-color: black;
    color: white;
}

.nightmode div#hcl-export comment {
    background-color: black;
    color: #88b5dd;
}

.nightmode .selectize-input.full {
    /* background: #282828; */
    background: black;
    color: white;
}
.nightmode .selectize-input,
.nightmode .selectize-control.single .selectize-input.input-active {
    /* background: #282828; */
    background: black;
}

.nightmode .selectize-dropdown {
    color: #808080;
}
.nightmode .selectize-dropdown .active {
    background-color: black;
    color: #88b5dd;
}

.nightmode .selectize-dropdown,
.nightmode .selectize-dropdown.form-control {
    background: black;
}

.nightmode .btn-default {
    background-color: #181818;
    color: #F0F0F0;
}
.nightmode .btn-default:hover {
    background: #282828;
    color: #88b5dd;
}

.nightmode .irs-min,
.nightmode .irs-max {
    background: #282828;
    color: white;
}

.nightmode .irs-line-left,
.nightmode .irs-line-mid,
.nightmode .irs-line-right {
    background-color: black;
}
.nightmode .irs-line {
    border-color: #505050;
}
.nightmode .irs-slider {
    background-color: black;
}
.nightmode .form-control {
    background-color: black;
    color: white;
}
.nightmode code {
    background: #282828;
    color: #88b5dd;
    font-weight: bold;
}
